body {
  padding-bottom: 40px;
  margin:10px 5px 30px 40px;
  width: 1200px;
}

.fundCategory{
	font: 14px sans-serif;
}

text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: url(#temperature-gradient);
  stroke-width: 1.5px;
}

#ex1Slider .slider-selection {
	background: #BABABA;

}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 12px;
  padding: 8px;
  font: 10px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
}